.box{
    padding:10px;
    box-shadow: none;
    border: none;
    background-color: white;
}

.br{
  border-radius: 5px ;
  border: 1px solid grey;
  height:30px;
  width:160px;
  margin-left:-10px;
}

.sub{
  border: none;
  padding: 8px;
  color: White;
  background-color: blue;
  font-weight: bolder;
  width:150px;

}
.mar{
	margin-left:-10px;
	height:60px;
}


body{

    background-color: #f1f1f1;
}